li.Brick(data-group = brick.group, class = 'Weight-' + (Math.round((brick.weight || 0) * 4)))(class = 'Group' + _(brick.group || '').chain().titleize().camelize().value())(class = Math.random() > 0.5 ? 'BrickA' : '')
  .GroupName= brick.group + ':'
  .Text= _(brick.text).chain().capitalize().prune(23, ' ...').value()
  - if (brick.author && brick.author.email)
    .Avatar(data-email = brick.author.email)
  .Status
    - if (brick.author)
      .Author= brick.author.name + ', '
    - if (brick.timestamp)
      .Timestamp(title = brick.timestamp)= brick.timestamp
  