li.BrickContainer
  .Brick(data-group = brick.group)
    .Face.Front(class = 'Weight-' + (Math.round((brick.weight || 0) * 4)))(class = 'Group' + _(brick.group || '').chain().titleize().camelize().value())
      .GroupName= brick.group + ':'
      .Text= brick.text
      .Status
        - if (brick.author)
          .Author= brick.author.name + ', '
        - if (brick.timestamp)
          .Timestamp(title = brick.timestamp)= brick.timestamp
      .Impact
    .Face.Back
      - if (brick.author && brick.author.email)
        .Avatar(data-email = brick.author.email)
      .Description
        = brick.text
      .DescriptionFooter
        = _date(brick.timestamp).format("MMMM Do, YYYY")
        - if (brick.url)
          br
          a(href = brick.url)(target = '_blank')
            = brick.url
