li.BrickContainer(onclick = '', ontouchstart = '')
  .Brick(data-group = brick.group)
    .Face.Front
      .GroupName= brick.group + ':'
      .Text= brick.text
      .Status
        - if (brick.author)
          .Author= brick.author.name + ', '
        - if (brick.timestamp)
          .Timestamp(title = brick.timestamp)= brick.timestamp
      .Impact
    .Face.Back
      - if (brick.author && brick.author.email)
        .Avatar(data-email = brick.author.email)
      .Description
        = brick.text
      .DescriptionFooter
        = brick.timestamp
        - if (brick.url)
          br
          a(href = brick.url target = '_blank')
            = brick.url
