ul.ColorsSelector
  li.Color.FirstColor
  li.Color.SecondColor
  li.Color.ThirdColor
  li.Color.FourthColor
  li.Color.FifthColor
  li.Color.SixthColor.Selected
  li.Color.SeventhColor
  li.Color.EighthColor
  li.Color.NinethColor