!!!
html
  head
    title= title
    != stylesheetInclude('css')
    != javascriptInclude('lib')
    != javascriptInclude('client')
    != "<script type='text/javascript'>"
    != "var Globals = {};"
    - if (typeof(globals) != 'undefined')
      - for(var key in globals)
        - if (globals.hasOwnProperty(key))
          != 'Globals.' + key + ' = \'' + globals[key] + '\';'
    != "</script>"
  body!= body