!= template('brick')
!= template('settings')

.Pages
  .Title
    h1= title

  .WallPage.Page
    h1
      span commit wall
    ul.Wall
      != partial('brick', messages)

  - if (everyauth.loggedIn)
    != partial('settings', everyauth.user)