!= template('brick')

.Pages
  .Title
    h1= title
      span &nbsp;commit wall

  ul.Wall.Page
    != partial('brick', messages)

  - if (everyauth.loggedIn)
    .Settings.Page
      h1 Group Colors
        span &nbsp;Settings