body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


}

@brick-padding: 10px;
@brick-right-height: 100px;
@brick-height: @brick-right-height - 2 * @brick-padding;
@brick-right-width: 300px;
@brick-width: @brick-right-width - 2 * @brick-padding;
@brick-margin: 10px;

body {
  margin: 0;
  padding: 0;
}

.WallWrapper {
  width: 100%;
  height: @brick-right-width + 4px;
  margin-top: @brick-width/2;
  overflow: hidden;
}

.Wall {
  width: 100000em;
  height: @brick-right-width;

  list-style: none;

  padding: 0;
  margin: 0;

  border: 1px dashed green;

  padding-left: @brick-right-height;


  .Brick {
    background-color: #ccffff;
    border: 1px solid red;
    padding: @brick-padding;
    float: left;
    width: @brick-width;
    height: @brick-height;
    margin-left: -@brick-right-width/2 - @brick-right-height/2;
    margin-right: @brick-margin;
    margin-top: -@brick-right-height/2 + @brick-right-width/2;
//    margin-top: @brick-right-width/2 - @brick-right-height/2;
//    margin-top: @brick-width - @brick-height + @brick-margin;
    -webkit-transform: rotate(-90deg);

    position: relative;

    .Text {
      font-size: 120%;
      margin-bottom: 0.72em;
      height: 2em;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
    }

    .Attributes {
      font-size: 80%;
      color: 1.2 * #525252;
      position: absolute;
      bottom: @brick-padding;
    }


    &.GroupCommitwall {
      background-color: #ccffcc;
    }

    &.GroupRkm {
      background-color: #ffcccc;
    }
  }
}

a {
  color: #00B7FF;
}